* {
    margin: 0;
    padding: 0;
}

.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6d6e72;
    height: 50%;
    width: 50%;
    top: 200px;
    left: 400px;
    position: absolute;
}

.Note {
    color: #c5c6c7;
    cursor: pointer;
}

.textDiv, .Header {
    padding: 10px;
    color: #adafb3;
}

.Content {
    overflow: auto;
    height: 100%;
    width: 100%;
}

input {
    background-color: #8e9297;
    border: solid #393939;
    box-shadow: 1px 2px;
    padding-left: 100px;
    color: #4d4d4d;
}

input:focus {
    background-color: #f0fef0;
}

button {
    /*background-color: red;*/
    padding: 5px;
}

body {
    background-color: #4b4b4d;
    height: 100%;
}
